/*John 3:16 | For God so loved the world that He gave His only son that whoever believes in Him shall not perish but have eternal life.*/

:root {
  --blue-color: #070be4ee;
  --red-color: #ab2330;
  --white-color: white;
}
body {
  margin: 0%;
  overflow-x: hidden;
}
.titlebox {
  position: fixed;
  width: 100%;
  height: 150px;
  top: 0;
  padding: 0; 
  background-color: var(--white-color);
  box-shadow: 2px 2px 2px black;
}
.title {
  display: flex;
  flex-direction: row;
  color: var(--blue-color);
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
  padding: 0;
}
li::marker {
  color: var(--red-color);
}
li{
  margin: 0 15px;
  padding-left: 0%;
}
.life {
  position: relative;
  left: 30px
}

.title-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.subtitle {
  position: relative;
  top: -30px;
  color: var(--red-color);
  text-align: center;
}
.logo {
  position: absolute;
  top: 20px;
  width: 100px;
  height: 100px;
}
main {
  padding-top: 170px;
}

.background {
  position: absolute;
  width: 70%;
  opacity: 30%;
  height: 80%;
  margin: 0 15%;
  z-index: -1;
}
.container {
  margin: 2% 20%;
  display: grid;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.img {
  padding-top: 15px;
  border-radius: 5%;
  width: 98%;
}
strong {
  color: var(--red-color)
}
figcaption {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 15px;
}
.blue {
  color: var(--blue-color);
}
.body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  width: 80%;
  margin: 10px 10%;
}
.mini-title {
  color: var(--red-color);
  text-align: center;
  margin: 40px;
}
.values {
  display: grid;
  z-index: inherit;
  position: inherit;
  justify-content: center;
  left: 20%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.body-ul {
  display: grid;
  z-index: inherit;
  position: inherit;
  justify-content: center;
  left: 20%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.end-quote {
  text-align: center;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 5px;
  padding-top: 30px;
  margin-bottom: 50px;
}
address {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 50px 0px;
  color: var(--red-color)
}
.centered {
  text-align: center;
}
.bank-dets {
  display: grid;
  z-index: inherit;
  width: 90%;
  margin: 0% 10%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media (max-width:1400px) {
    body {
      font-size: 1.25rem;
    }
    figcaption {
      font-size: 1.25rem;
    }
}
@media (max-width: 600px) {
  .logo {
    position: relative;
    width: 50px;
    height: 50px;
  }
  .titlebox {
    width: 100vw;
    height: 150px;
    font-size: small;
  }
  body {
    font-size: 1rem;
  }
}
